In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# DATA **INTERPRETATION**

In [6]:
train_path = 'updated_train.csv'
test_path = 'updated_test.csv'

In [7]:
train_df = pd.read_csv(train_path) 
test_df = pd.read_csv(test_path)

In [8]:
train_df.shape

(456548, 16)

In [9]:
test_df.shape

(32573, 15)

In [10]:
train_df.head()

,Unnamed: 0,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai

In [11]:
train_df.category.unique().shape

(14,)

In [12]:
train_df.category.unique()

array(['Beverages', 'Rice Bowl', 'Starters', 'Pasta', 'Sandwich',
       'Biryani', 'Extras', 'Pizza', 'Seafood', 'Other Snacks', 'Desert',
       'Salad', 'Fish', 'Soup'], dtype=object)

In [13]:
train_df.cuisine.unique()

array(['Thai', 'Indian', 'Italian', 'Continental'], dtype=object)

In [14]:
train_df.center_type.unique()

array(['TYPE_C', 'TYPE_B', 'TYPE_A'], dtype=object)

In [15]:
test_df.head()

,Unnamed: 0,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,center_type,op_area,category,cuisine
0,0,1028232,146,55,1885,158.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
1,1,1262649,147,55,1885,159.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
2,2,1453211,149,55,1885,157.14,158.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
3,3,1262599,150,55,1885,159.14,157.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
4,4,1495848,151,55,1885,160.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai

In [16]:
train_df.drop(['Unnamed: 0'],axis=1,inplace=True)
train_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai

In [17]:
test_df.drop(['Unnamed: 0'],axis=1,inplace=True)
test_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,center_type,op_area,category,cuisine
0,1028232,146,55,1885,158.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
1,1262649,147,55,1885,159.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
2,1453211,149,55,1885,157.14,158.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
3,1262599,150,55,1885,159.14,157.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
4,1495848,151,55,1885,160.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai

In [18]:
test_df.shape

(32573, 14)

In [19]:
train_df.shape

(456548, 15)

In [20]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     32573 non-null  int64
 1   week                   32573 non-null  int64
 2   center_id              32573 non-null  int64
 3   meal_id                32573 non-null  int64
 4   checkout_price         32573 non-null  float64
 5   base_price             32573 non-null  float64
 6   emailer_for_promotion  32573 non-null  int64
 7   homepage_featured      32573 non-null  int64
 8   city_code              32573 non-null  int64
 9   region_code            32573 non-null  int64
 10  center_type            32573 non-null  object
 11  op_area                32573 non-null  float64
 12  category               32573 non-null  object
 13  cuisine                32573 non-null  object
dtypes: float64(3), int64(8), object(3)
memory usage: 3.5+ MB

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
 9   city_code              456548 non-null  int64
 10  region_code            456548 non-null  int64
 11  center_type            456548 non-null  object
 12  op_area                456548 non-null  float64
 13  category               456548 non-null  object
 14  cuisine                456548 non-null  object
dtypes: float64(3), int64(9), object(3)
memory usage: 52.2+ MB

# STATISTICAL **INFO**

In [22]:
train_df.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,7.000000

# CHECKING FOR NULL **VALUES**

In [23]:
train_df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
city_code                0
region_code              0
center_type              0
op_area                  0
category                 0
cuisine                  0
dtype: int64

In [24]:
test_df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
city_code                0
region_code              0
center_type              0
op_area                  0
category                 0
cuisine                  0
dtype: int64

# **LABEL ENCODING**

In [25]:
train_df.head(7)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai
5,1493612,6,55,1885,146.53,146.53,0,0,285,647,56,TYPE_C,2.0,Beverages,Thai
6,1110832,7,55,1885,145.53,146.53,0,0,148,647,56,TYPE_C,2.0,Beverages,Thai

In [26]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train_df["cent_type"] = encoder.fit_transform(train_df["center_type"])
train_df[["center_type", "cent_type"]].head(10)

  center_type  cent_type
0      TYPE_C          2
1      TYPE_C          2
2      TYPE_C          2
3      TYPE_C          2
4      TYPE_C          2
5      TYPE_C          2
6      TYPE_C          2
7      TYPE_C          2
8      TYPE_C          2
9      TYPE_C          2

In [27]:
train_df["cent_type"].unique()

array([2, 1, 0])

In [28]:
train_df["categories"] = encoder.fit_transform(train_df["category"])
train_df[["category", "categories"]].head(10)

    category  categories
0  Beverages           0
1  Beverages           0
2  Beverages           0
3  Beverages           0
4  Beverages           0
5  Beverages           0
6  Beverages           0
7  Beverages           0
8  Beverages           0
9  Beverages           0

In [29]:
train_df["categories"].unique()

array([ 0,  8, 13,  6, 10,  1,  3,  7, 11,  5,  2,  9,  4, 12])

In [30]:
train_df["Cuisine"] = encoder.fit_transform(train_df["cuisine"])
train_df[["cuisine", "Cuisine"]].head(10)

  cuisine  Cuisine
0    Thai        3
1    Thai        3
2    Thai        3
3    Thai        3
4    Thai        3
5    Thai        3
6    Thai        3
7    Thai        3
8    Thai        3
9    Thai        3

In [31]:
train_df["Cuisine"].unique()

array([3, 1, 2, 0])

In [32]:
train_df_enc = train_df.drop(['center_type','category','cuisine'], axis=1)

In [33]:
train_df_enc.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area,cent_type,categories,Cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,2.0,2,0,3
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,2.0,2,0,3
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,2.0,2,0,3
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,2.0,2,0,3
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,2.0,2,0,3

# **FEATURE EXTRACTION**

In [34]:
x = train_df_enc.drop(['num_orders'],axis=1)

In [35]:
y = train_df_enc['num_orders']

In [36]:
add_sub_price=x["checkout_price"]-x["base_price"]

In [37]:
add_sub_price=add_sub_price.to_frame()
add_sub_price.columns=['change_in_price_during_checkout']

In [38]:
x=pd.concat([x,add_sub_price],axis=1).drop(["checkout_price"],axis=1)

In [39]:
features=['city_code','week', 'base_price', 'change_in_price_during_checkout','emailer_for_promotion', 'homepage_featured', 'cent_type', 'op_area', 'categories',
       'Cuisine']

In [40]:
x = x[features]

In [41]:
x.head()

,city_code,week,base_price,change_in_price_during_checkout,emailer_for_promotion,homepage_featured,cent_type,op_area,categories,Cuisine
0,647,1,152.29,-15.46,0,0,2,2.0,0,3
1,647,2,152.29,-16.46,0,0,2,2.0,0,3
2,647,3,133.92,-1.00,0,0,2,2.0,0,3
3,647,4,134.86,1.00,0,0,2,2.0,0,3
4,647,5,147.50,-1.00,0,0,2,2.0,0,3

# **SCALING THE VALUES**

In [42]:
def data_scaling(X_data):
    scaler=StandardScaler(with_mean=False)
    scaler.fit(X_data)
    scaled_data=scaler.transform(X_data)
    return scaled_data

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
X=data_scaling(x)

In [45]:
X[0]

array([ 9.7740278 ,  0.02408193,  0.94757366, -0.31879046,  0.        ,
        0.        ,  2.4506679 ,  1.83202993,  0.        ,  2.72239047])

In [46]:
y[0]

177

In [47]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# X_scaled = scaler.fit_transform(X)
# X_scaled[0]

In [48]:
# X_scaled.shape

In [49]:
# y.shape

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
ran_reg = RandomForestRegressor(random_state=0)
ran_reg.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [53]:
pred_rF = ran_reg.predict(X_test)
print("Mean Squared Log Error is ", mean_squared_log_error(y_test, pred_rF))

Mean Squared Log Error is  0.30338272413542877

In [54]:
print("RMSLE:", mean_squared_log_error(y_test, pred_rF)**(0.5))

RMSLE: 0.5508018919134435

In [55]:
metrics.r2_score(y_test, pred_rF)

0.8136220958909925

In [56]:
pip install scikeras

Requirement already satisfied: scikeras in c:\users\sahil\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\sahil\anaconda3\lib\site-packages (from scikeras) (0.23.1)
Requirement already satisfied: tensorflow>=2.4.0 in c:\users\sahil\anaconda3\lib\site-packages (from scikeras) (2.4.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\sahil\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->scikeras) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\sahil\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->scikeras) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sahil\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->scikeras) (1.19.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sahil\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->scikeras) (2.1.0)
Requirement already satisfied: google-pasta~=0.2 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (0.2.0)
Requirement already satisfied: h5py~=2.10.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (2.10.0)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (2.4.0)
Requirement already satisfied: opt-einsum~=3.3.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (3.3.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (3.15.7)
Requirement already satisfied: typing-extensions~=3.7.4 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (3.7.4.2)
Requirement already satisfied: wheel~=0.35 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (0.36.2)
Requirement already satisfied: termcolor~=1.1.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.1.0)
Requirement already satisfied: six~=1.15.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.15.0)
Requirement already satisfied: wrapt~=1.12.1 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.12.1)
Requirement already satisfied: absl-py~=0.10 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (0.13.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.1.2)
Requirement already satisfied: gast==0.3.3 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (0.3.3)
Requirement already satisfied: astunparse~=1.6.3 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.6.3)
Requirement already satisfied: grpcio~=1.32.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.32.0)
Requirement already satisfied: tensorboard~=2.4 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (2.5.0)
Requirement already satisfied: flatbuffers~=1.12.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorflow>=2.4.0->scikeras) (1.12)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (2.24.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (1.28.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (0.4.4)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (49.2.0.post20200714)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\sahil\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (3.3.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sahil\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sahil\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sahil\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sahil\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (2021.5.30)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\sahil\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\users\sahil\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\sahil\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\sahil\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (1.3.0)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\sahil\anaconda3\lib\site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\sahil\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow>=2.4.0->scikeras) (3.1.0)

In [57]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\sahil\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: scipy in c:\users\sahil\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\sahil\anaconda3\lib\site-packages (from xgboost) (1.19.5)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np
import tensorflow as tf
from sklearn.ensemble import StackingRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from scikeras.wrappers import KerasRegressor

def build_model():
    model=tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(256,activation='relu',input_shape=(X.shape[1],)))
    model.add(tf.keras.layers.Dense(512,activation='relu'))
    model.add(tf.keras.layers.Dense(256,activation='relu'))
    model.add(tf.keras.layers.Dense(64,activation='relu'))
    model.add(tf.keras.layers.Dense(16,activation='relu'))
    model.add(tf.keras.layers.Dense(1))
    optimizer = tf.keras.optimizers.Adam(learning_rate=1e-2)
    model.compile(optimizer=optimizer,loss= 'mae',metrics=['mse','msle'])
    return model
xgb=XGBRegressor(base_score=0.25, booster='gbtree', colsample_bylevel=1,
                    colsample_bynode=1, colsample_bytree=1, gamma=0,
                    importance_type='gain', learning_rate=0.05, max_delta_step=0,
                    max_depth=10, min_child_weight=4, missing=None, n_estimators=1000,
                    n_jobs=-1, nthread=None,random_state=0,
                    reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                    silent=None,verbose=3)
ann = KerasRegressor(model=build_model,epochs=75,verbose=3)

def get_stacking():
    level0 = list()
    level0.append(('ann', ann))
    level0.append(('rf',RandomForestRegressor(n_estimators=200,n_jobs=-1)))
    level0.append(('xgb', xgb ))
    level1 = LinearRegression()
    model = StackingRegressor(estimators=level0,final_estimator=level1, cv=None)
    return model
rm=get_stacking()
rm.fit(X_train,y_train)

Epoch 1/75
Epoch 2/75
Epoch 3/75
Epoch 4/75
Epoch 5/75
Epoch 6/75
Epoch 7/75
Epoch 8/75
Epoch 9/75
Epoch 10/75
Epoch 11/75
Epoch 12/75
Epoch 13/75
Epoch 14/75
Epoch 15/75
Epoch 16/75
Epoch 17/75
Epoch 18/75
Epoch 19/75
Epoch 20/75
Epoch 21/75
Epoch 22/75
Epoch 23/75
Epoch 24/75
Epoch 25/75
Epoch 26/75
Epoch 27/75
Epoch 28/75
Epoch 29/75
Epoch 30/75
Epoch 31/75
Epoch 32/75
Epoch 33/75
Epoch 34/75
Epoch 35/75
Epoch 36/75
Epoch 37/75
Epoch 38/75
Epoch 39/75
Epoch 40/75
Epoch 41/75
Epoch 42/75
Epoch 43/75
Epoch 44/75
Epoch 45/75
Epoch 46/75
Epoch 47/75
Epoch 48/75
Epoch 49/75
Epoch 50/75
Epoch 51/75
Epoch 52/75
Epoch 53/75
Epoch 54/75
Epoch 55/75
Epoch 56/75
Epoch 57/75
Epoch 58/75
Epoch 59/75
Epoch 60/75
Epoch 61/75
Epoch 62/75
Epoch 63/75
Epoch 64/75
Epoch 65/75
Epoch 66/75
Epoch 67/75
Epoch 68/75
Epoch 69/75
Epoch 70/75
Epoch 71/75
Epoch 72/75
Epoch 73/75
Epoch 74/75
Epoch 75/75
[11:03:18] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "verbose" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


Epoch 1/75
Epoch 2/75
Epoch 3/75
Epoch 4/75
Epoch 5/75
Epoch 6/75
Epoch 7/75
Epoch 8/75
Epoch 9/75
Epoch 10/75
Epoch 11/75
Epoch 12/75
Epoch 13/75
Epoch 14/75
Epoch 15/75
Epoch 16/75
Epoch 17/75
Epoch 18/75
Epoch 19/75
Epoch 20/75
Epoch 21/75
Epoch 22/75
Epoch 23/75
Epoch 24/75
Epoch 25/75
Epoch 26/75
Epoch 27/75
Epoch 28/75
Epoch 29/75
Epoch 30/75
Epoch 31/75
Epoch 32/75
Epoch 33/75
Epoch 34/75
Epoch 35/75
Epoch 36/75
Epoch 37/75
Epoch 38/75
Epoch 39/75
Epoch 40/75
Epoch 41/75
Epoch 42/75
Epoch 43/75
Epoch 44/75
Epoch 45/75
Epoch 46/75
Epoch 47/75
Epoch 48/75

In [ ]:
rm.save('model.h5')

In [ ]:
import pickle
pickle.dump(rm,open('Model.pkl','wb'))

In [ ]:
y_pred = rm.predict(X_test)
y_pred[y_pred<0] = 0 
print("Mean Squared Log Error is ", mean_squared_log_error(y_test, y_pred))

In [ ]:
print("RMSLE:", mean_squared_log_error(y_test, y_pred)**(0.5))

In [ ]:
metrics.r2_score(y_test, y_pred)

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

In [ ]:
!touch "/content/drive/My Drive/Final_Model.pkl"

In [ ]:
from sklearn.externals import joblib
joblib.dump(rm,open('Model.pkl','wb'))

In [ ]:
import pickle
model = pickle.load(open('Model.pkl','rb'))